@import url("https://fonts.googleapis.com/css?family=Muli");
@import './colors.scss';
@import './vars.scss';

@import './components/index.scss';
@import './routes/index.scss';

body {
  padding: 0;
  margin: 0;
  margin-top: 50px;
  font-family: "Muli", sans-serif;
}

.container {
  position: relative;
  
  &__inner{
    position: relative;
    height: calc(100vh - #{$headerHeight} - 20px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__background {
    background-image: url("/assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(4px) brightness(165%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -99;

    &::after {
      content: "";
      background: rgba(255, 255, 255, .25);
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  > div {
    flex: 1;
    margin: 10px;
  }
}

input[type='checkbox'] {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.fade-enter {
  animation-name: fadeEnter;
  animation-duration: 1s;
  z-index: 99;
  transform: scale(0.7) translateX(calc(100vw + 50%));
}

.fade-exit {
  transform: scale(0.7) translateX(calc(-100vw - 50%));

  animation-name: fadeExit;
  animation-duration: 1s;
  
}

@keyframes fadeExit {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(0.7) translateX(calc(-100vw - 50%));
  }
}

@keyframes fadeEnter {
  50% {
    transform: scale(0.7) translateX(calc(100vw + 50%));
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
