.cars {
    height: calc(100vh - #{$headerHeight} - #{$containerPadding * 2});
    overflow: hidden;

    &__container {
        height: 100%;

        &__header {
            background: rgba(255, 255, 255, .7);
            box-shadow: 0px 0px 9px -1px #00000045;
            border-radius: 3px 3px 0 0;
            padding: 5px;
            font-size: 20px;
        }

     

        &__select {
            max-width: 250px;

            // 100% - margin
            height: calc(100% - 20px);

            &__form {
                overflow-y: auto;
                height: calc(100% - 40px);
                
                div {
                    white-space: nowrap; 
                    text-overflow:ellipsis;
                    overflow: hidden;
                    
                    &:hover {
                        overflow: visible;
                    }
                }
            }
        }

        &__addCar {
            overflow-y: auto;
        }

        &__selectedCars {
            min-width: 250px;
            flex: 0 0 !important;
        }
    }
}