.skins {


    &__car {
        background: white;

        i {
            transition: 300ms;
            &.open {
                transform: rotate(180deg)
            }
        }

        &__skins {
            overflow: hidden;
            max-height: 0;

            div {
                display: inline-block;
                margin: 3px;
                position: relative;

                img {
                    display: block;
                }

                input {
                    display: block;

                    padding: 5px;
                    width: calc(100% - 12px);
                    border: 1px solid black;
                }
            }
        }
    }
}